@keyframes moveToRight {
    from {
        color: red;
    }
    to {
        color: yellow;
        transform: translateX(300px);
    }
}

button {
    animation: moveToRight;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    color: black;
}